#map {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
}


#over_map {
  position: fixed;
  top: 10px;
  left: 2px;
  z-index: 99;
}

.input-main {
  border-bottom: 0px !important;
  margin-left: 10px !important;
  margin-top: 3px !important;
  font-size: 17px !important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.card-margin-top{
  margin-top: -5px;
}

.circle { 
  width: 60px;
  height: 100%;
  background: white; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  opacity: 0.2;
}

.circle_small{ 
  width: 20px;
  height: 40px;
  background: white; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  margin-top: 13%;
  opacity: 0.2;
}

.circle_one { 
  width: 37px;
  height: 75px;
  background: white; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  opacity: 0.2;
}

.circle_one_small{ 
  width: 20px;
  height: 40px;
  background: white; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  margin-top: 20px;
  opacity: 0.2;
}

.card-action{
  font-size: 15px !important;
  height: 50px;
}

.active{
  background-color: #227592;
  color:white;
}

a{
  color: #227592
}

.waves-effect {
  position: relative;
  display: block; 
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.btn-floating.btn-large i {
  line-height: 42px;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 0px solid  !important;
  -webkit-box-shadow: 0 0px 0 0 !important;
  box-shadow: 0 0px 0 0  !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 0px solid  !important;
  -webkit-box-shadow: 0 0px 0 0 !important;
  box-shadow: 0 0px 0 0  !important;
}